// @tailwind base;
// @tailwind components;
// @tailwind utilities;
@import "./layout.scss";

a {
  color: #0063ff;

  &:visited {
    color: #333399;
  }

  &:hover {
    color: #ff0000;
  }

  text-decoration: none;
}

h1 {
  background: #f5fffd;
  padding: 0.5rem;
  // font-size: 2rem;
  // border-bottom: 1px solid #98f9ea;
  border-left: 2px solid #98f9ea;
}

h2 {
  // background: #f5fffd;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-bottom: 1px solid #98f9ea;
}

main {
  img {
    max-width: 100%;
    height: auto;
  }
}

table.md-table {
  border-collapse: collapse;

  th,
  td {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }

  thead tr,
  tbody tr:not(:last-child) {
    border-bottom: 1px solid rgba(50, 50, 50, 0.3);
  }

  tbody tr:nth-child(odd) {
    background-color: rgba(200, 200, 200, 0.2);
  }
}

// アクセスカウンターのスタイル
.access-counter {
  display: block; // table要素をブロック要素として扱い、margin: auto; を有効にする
  margin: 20px auto; // 上下に20pxのマージン、左右は自動で中央寄せ
}
